## Análise dos dados do dataset

In [23]:
import numpy as np
import pandas as pd
import seaborn as sns

pd.set_option("display.max_rows", 5)
pd.set_option('display.max_columns',100)

In [20]:
df = pd.read_csv('../dataset/B2W-Reviews01.csv')

display(df.info(),df.sample())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132373 entries, 0 to 132372
Data columns (total 14 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   submission_date        132373 non-null  object
 1   reviewer_id            132373 non-null  object
 2   product_id             132373 non-null  object
 3   product_name           132289 non-null  object
 4   product_brand          40982 non-null   object
 5   site_category_lv1      132367 non-null  object
 6   site_category_lv2      128360 non-null  object
 7   review_title           132071 non-null  object
 8   overall_rating         132373 non-null  int64
 9   recommend_to_a_friend  132355 non-null  object
 10  review_text            129098 non-null  object
 11  reviewer_birth_year    126389 non-null  float64
 12  reviewer_gender        128237 non-null  object
 13  reviewer_state         128382 non-null  object
dtypes: float64(1), int64(1), object(12)
memory usage: 14.1+ MB

c:\Users\STEFA\Anaconda3\envs\apolo\lib\site-packages\IPython\core\interactiveshell.py:3553: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

None

,submission_date,reviewer_id,product_id,product_name,product_brand,site_category_lv1,site_category_lv2,review_title,overall_rating,recommend_to_a_friend,review_text,reviewer_birth_year,reviewer_gender,reviewer_state
129779,2018-05-27 18:52:14,b62b476276e2182c748fe62e25285ca2f8f0d89a292380...,24561441,Perfume Billion Woman Paris Elysees 100ml,NaN,Beleza e Perfumaria,Perfumaria,"me mandaram o produto errado , nao tenho como ...",1,No,"me mandaram o produto errado , nao tenho como ...",1977.0,F,GO

In [22]:
df.dropna(subset=['review_title', 'overall_rating','recommend_to_a_friend','review_text','reviewer_birth_year'],inplace=True)
df['reviewer_birth_year'] = df['reviewer_birth_year'].astype('int')

## Gráficos